---
date: Last Modified
---
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>新型コロナウイルスから子どもの心を守る。WHOから世界中の保護者たちへ。</title>
    <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?owI8-d2e8Dw%3D&amp;box=wzsij36dhRc%3D&amp;timeout=5&amp;aa=1&amp;ab=2"></script>
    <link rel="stylesheet" href="/style.css"/>
    <meta name="description" content="急な環境の変化や世の中の物々しい雰囲気によって強いストレスを感じたり、不安定になったお子さんとどう接すれば良いのか、悩んでいらっしゃる保護者の方々のために。"/>
    <meta property="og:title" content="今、子どもとどう付き合うか？WHOから全世界の保護者たちへ。"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://covid-19-act.jp/parenting-who/"/>
    <meta property="og:image" content="http://covid-19-act.jp/parenting-who/illustrations/OGP.jpg"/>
    <meta property="og:image:secure_url" content="https://covid-19-act.jp/parenting-who/illustrations/OGP.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content="イラスト：両親と二人のこどもが微笑んでいる。家族を波括弧が囲んでいる。"/>
    <link rel="canonical" href="https://covid-19-act.jp/parenting-who/"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="今、子どもとどう付き合うか？WHOから全世界の保護者たちへ。">
    <meta property="og:description" content="急な環境の変化や世の中の物々しい雰囲気によって強いストレスを感じたり、不安定になったお子さんとどう接すれば良いのか、悩んでいらっしゃる保護者の方々のために。"/>
  </head>

  <body>
    <article>
      <picture>
        <source srcset="./illustrations/OGP.webp" type="image/webp"/>
        <img src="./illustrations/OGP.jpg" alt=""/>
      </picture>
      <h1>新型コロナウイルスから子どもの心を守る。<abbr title="World Health Organization">WHO</abbr>から世界中の保護者たちへ。</h1>
      <div>目次</div>
      <ol role="directory">
        <li>
          <a href="#1-One-on-One-Time">『1対1の時間』</a>
        </li>
        <li>
          <a href="#2-Keeping-It-Positive">『肯定的でいましょう』</a>
        </li>
        <li>
          <a href="#3-Structure-Up">『新しい日課を作る』</a>
        </li>
        <li>
          <a href="#4-Bad-Behavior">『悪い行い』</a>
        </li>
        <li>
          <a href="#5-Keep-Calm-and-Manage-Stress">『焦らずにストレスマネジメント』</a>
        </li>
        <li>
          <a href="#6-Talking-about-COVID-19">『新型コロナウイルスについて話をする』</a>
        </li>
      </ol>

      <p>小さなお子さん、あるいは思春期のお子さんがいらっしゃる保護者の皆さんの中には、新型コロナウイルスによる世界的なパンデミックが発生している中で、急な環境の変化や世の中の物々しい雰囲気によって強いストレスを感じたり、不安定になったお子さんとどう接すれば良いのか、悩んでいらっしゃる方も多いと思います。</p>
      <p>そんな保護者の方々のために、WHO（世界保健機関）が全世界の保護者へ向けて、今この状況における子どもとの付き合い方についてアドバイスを発信しています。</p>

      <ul class="note">
        <li>本記事の公開時点までにWHO『<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting" lang="en">Healthy Parenting</a>』にて公開されている、6枚のポスター（PDF）に基づき翻訳しています。</li>
        <li>一部の文章について、原典の意図を分かりやすく伝えるために日本向けに付け足している箇所があります。</li>
      </ul>

      <section id="1-One-on-One-Time">
        <picture>
          <source srcset="./illustrations/01_00_yellow.webp" type="image/webp">
          <img src="./illustrations/01_00_yellow.jpg" alt="イラスト：子どもの背後に母親が寄り添い、肩に手を添えている。二人とも微笑んでいる。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h2>1.『1対1の時間』</h2>
          <a href="#1-One-on-One-Time" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>仕事にいけない、学校が閉まる、お金はどうなるのか…など、ストレスを感じたり困惑したりするのは当たり前のことです。あなただけではありません。</p>
        <p>休校で子どもが家で過ごす時間が増えることは、子どもたちとより関係を深める絶好の機会でもあります。<br/>
        子どもと1対1の時間を取ることは楽しいことでもあり、そしてお金もかかりません。子どもと向き合う時間を作ることで、子どもたちは愛情を感じ、安心し、自分自身を大切な存在だと感じることができます。</p>

        <section id="Set-aside-time-to-spend-with-each-child">
          <picture>
            <source srcset="./illustrations/01_01.webp" type="image/webp"/>
            <img src="./illustrations/01_01.jpg" alt="イラスト：子どもと母親が正面に向かって微笑んでいる。二人のまわりには携帯ゲーム機、遊具のある公園、調理中のフライパン、テント、トランプといったアクティビティのイメージが並ぶ。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>それぞれの子どもと過ごせる時間を作りましょう</h3>
            <a href="#Set-aside-time-to-spend-with-each-child" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>たったの20分でも良いですし、もっと長くても良いです。あなたができそうだと思う時間帯に子どもと過ごす時間をとってください。子どもが楽しみにできるように、毎日同じ時間帯に決めておいても良いですね。</p>
        </section>

        <section id="Ask-your-child-what-they-would-like-to-do">
          <picture>
            <source srcset="./illustrations/01_02.webp" type="image/webp"/>
            <img src="./illustrations/01_02.jpg" alt="イラスト：子どもが母親に「あのね、」と話しかけている。母親は子どもの問いかけに耳を傾けている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>子どもに、何がしたいか聞きましょう</h3>
            <a href="#Ask-your-child-what-they-would-like-to-do" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>
          選ぶというのは自分に自信をつけることにも繋がります。もし子どものやりたいことが他人との距離が近いものだった場合は、なぜ感染症対策において距離を保つ必要があるのか話し合う機会につなげましょう。
        </p>
        </section>

        <section id="Ideas-with-your-baby-toddler">
          <picture>
            <source srcset="./illustrations/01_03.webp" type="image/webp"/>
            <img src="./illustrations/01_03.jpg" alt="イラスト：おくるみに包まれた赤ちゃんが、鍋の底をスプーンで叩く音色を聞いて「♥」と喜んでいる。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>赤ちゃんや3歳くらいまでの子どもとの過ごし方</h3>
            <a href="#Ideas-with-your-baby-toddler" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <ul>
            <li>子どもの表情や音を真似してみましょう。</li>
            <li>歌を歌い、スプーンや鍋で音楽を奏でましょう。</li>
            <li>コップやブロックなどを積み重ねましょう。</li>
            <li>ストーリーや本を読んだり、写真を見せたりしましょう。</li>
          </ul>
        </section>

        <section id="Ideas-with-your-young-child">
          <picture>
            <source srcset="./illustrations/01_04.webp" type="image/webp"/>
            <img src="./illustrations/01_04.jpg" alt="イラスト：楽しそうな様子で、女の子はホウキを、父親は雑巾を手にしている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>小さい子どもとの過ごし方</h3>
            <a href="#Ideas-with-your-young-child" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <ul>
            <li>一緒に本を読んだり、写真を見たりしましょう。</li>
            <li>クレヨンなどで一緒に絵をかきましょう。</li>
            <li>音楽に合わせて踊ったり、歌を歌ったりしましょう。</li>
            <li>家事を一緒にしましょう。掃除や料理をゲームにしてみましょう。</li>
            <li>学校の宿題を手伝ってみましょう。</li>
          </ul>
        </section>

        <section id="Ideas-with-your-teenager">
          <picture>
            <source srcset="./illustrations/01_05.webp" type="image/webp"/>
            <img src="./illustrations/01_05.jpg" alt="イラスト：テレビゲームに興じる親子。手を上げて喜ぶ男の子と、弱り顔ながら微笑む父親。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>思春期の子どもとの過ごし方</h3>
            <a href="#Ideas-with-your-teenager" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <ul>
            <li>子どもが好きな話題を話してみましょう。例えばスポーツ、音楽、有名人、友達のことなどでも良いです。</li>
            <li>一緒に好きな料理を作ってみましょう。</li>
            <li>子どもの好きな音楽に合わせて一緒に運動してみましょう。</li>
          </ul>
        </section>

        <div class="summary">
          <p>一緒に時間を過ごす間は、テレビや携帯の電源を切り、ウイルスのことを忘れる時間を作りましょう。</p>
          <p>子どもたちによく耳を傾け、子どもたちをよく観ましょう。たくさんの気がかりなことがありますが、大人もそれらを一時でも忘れ、子どもたちに関心を集中する時間を作ってみてください。そして楽しく過ごしましょう！</p>
        </div>
      </section>

      <section id="2-Keeping-It-Positive">
        <picture>
          <source srcset="./illustrations/02_00_yellow.webp" type="image/webp"/>
          <img src="./illustrations/02_00_yellow.jpg" alt="イラスト：女の子と母親がお互いに明るく話をしている。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h2>2.『肯定的でいましょう』</h2>
          <a href="#2-Keeping-It-Positive" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>
        子どもがあなたを困らせるようなことをする時、子どもに対して肯定的でいるのは難しいものです。つい「やめなさい！」と言ってしまいがちです。ですが、子どもは、肯定的な指示をあげたり、うまくできた時に褒めてあげたりするほうが、親を困らせるような態度は取らなくなっていきます。
      </p>

        <section id="Say-the-behaviour-you-want-to-see">
          <picture>
            <source srcset="./illustrations/02_01.webp" type="image/webp"/>
            <img src="./illustrations/02_01.jpg" alt="イラスト：母親が、片目を瞑って手を合わせながら、服をタンスにしまってほしいと子どもに頼んでいる。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>あなたが子どもにしてほしい行動を言葉にしましょう。</h3>
            <a href="#Say-the-behaviour-you-want-to-see" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>子どもに指示する時は否定ではなく、肯定的な言葉を使いましょう。例えば、「散らかさないで！」ではなく、「服はちゃんとしまってほしいな」と言いましょう。</p>
        </section>

        <section id="It’s-all-in-the-delivery">
          <picture>
            <source srcset="./illustrations/02_02.webp" type="image/webp"/>
            <img src="./illustrations/02_02.jpg" alt="イラスト：避けるべき状況の例。声を上げて叱りつける母親、背を向けてふくれっ面になる子ども。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>すべては伝え方次第です</h3>
            <a href="#It’s-all-in-the-delivery" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>声を荒げることで、あなたも子どもも、よりストレスを感じ、イライラしてしまいます。まず名前を呼んでみて、あなたの方に集中させることを試してみましょう。そして、落ち着いた口調で話しましょう。</p>
        </section>

        <section id="Praise-your-child-when-they-are-behaving-well">
          <picture>
            <source srcset="./illustrations/02_03.webp" type="image/webp"/>
            <img src="./illustrations/02_03.jpg" alt="イラスト：子どもと母親が、お互いに親指を立てながら笑顔で向かい合っている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>子どもが良い行動をした時は褒めましょう</h3>
            <a href="#Praise-your-child-when-they-are-behaving-well" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>子どもが良いことをした時は、しっかりと褒めましょう。子どもは顔には出さないかもしれませんが、褒められたことを、そのうち自ら進んでやるようになります。<br>
          あなたがしっかり見ていて気にかけてくれている、というのも子どもが安心できるポイントになります。</p>
        </section>

        <section id="Get-real">
          <picture>
            <source srcset="./illustrations/02_04.webp" type="image/webp"/>
            <img src="./illustrations/02_04.jpg" alt="イラスト：通話中のスマートフォンを持った母親が、微笑みながら口の前に人差し指を立て、静かにしてほしいと子どもに頼んでいる。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>現実的な目標を</h3>
            <a href="#Get-real" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>あなたが子どもにお願いしていることは、本当に子どもにできることですか？</p>
          <p>「子どもが屋内で一日中静かにしていること」はとても難しいのです。でも、あなたが電話している間の15分だけなら静かにできるかもしれません。</p>
        </section>

        <section id="Help-your-teen-stay-connected">
          <picture>
            <source srcset="./illustrations/02_05.webp" type="image/webp"/>
            <img src="./illustrations/02_05.jpg" alt="イラスト：楽しげな子どもとスマートフォン。スマートフォンの先には何人もの友達が待っている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>思春期の子どもには交流を</h3>
            <a href="#Help-your-teen-stay-connected" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>思春期の子どもにとって友達との交流は欠かせないものです。</p>
          <p>SNSを使って友達と交流をする等、物理的な距離を置いてできる交流活動を探してあげましょう。</p>
          <p>あなたも一緒にできるかもしれません！</p>
        </section>
      </section>

      <section id="3-Structure-Up">
        <picture>
          <source srcset="./illustrations/03_00_yellow.webp" type="image/webp"/>
          <img src="./illustrations/03_00_yellow.jpg" alt="イラスト：行先を指差しながら、母親の手を引く子ども。二人とも楽しそうにしている。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h2>3.『新しい日課を作る』</h2>
          <a href="#3-Structure-Up" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>新型コロナウイルスによって、仕事、家庭、学校での日常が奪われてしまいました。これは子どもにもあなたにもとても厳しい現実です。新しく、家での日課を作ってみてはいかがでしょうか。</p>

        <section id="Create-a-flexible-but-consistent-daily-routine">
          <picture>
            <source srcset="./illustrations/03_01.webp" type="image/webp"/>
            <img src="./illustrations/03_01.jpg" alt="イラスト：テーブルの上に置かれたカレンダーに、母親と子どもが話しながら予定を書き込もうとしている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>柔軟に、でも一貫した日課を作りましょう</h3>
            <a href="#Create-a-flexible-but-consistent-daily-routine" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <ul>
            <li>あなた自身と子どもの為の、日課をこなす時間と自由に過ごす時間をしっかりときめましょう。こうすることによって子どもはより安心し、より良い行動をするようになります。</li>
            <li>小学生や10代の子どもは、一緒に日課を考えることができます。学校の時間割のようにしても良いですね。一緒に作ることで、子どもも時間を守りやすくなるでしょう。</li>
            <li>毎日運動の時間も作りましょう。ストレスや、家であり余った子どものエネルギーを発散できます。 </li>
          </ul>
        </section>

        <section id="Teach-your-child-about-keeping-safe-distances">
          <picture>
            <source srcset="./illustrations/03_02.webp" type="image/webp"/>
            <img src="./illustrations/03_02.jpg" alt="イラスト：二人の子ども。それぞれの周囲に黄色い円が描かれ、その円同士が少し離れている距離に二人は立っている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>周りとの適切な距離を保つことを教えましょう</h3>
            <a href="#Teach-your-child-about-keeping-safe-distances" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <ul>
            <li>もしあなたの地域で外出が許可されていれば、子どもを外に出してあげましょう。</li>
            <li>手紙を書いたり、お絵かきをしたりするなどして、他の人達とシェアするのも良いですね。家の外に貼るなどして他の人達にも見せてあげましょう！</li>
            <li>あなたがどのように子どもの安全を保っているのかを話すことで、子どもに安心してもらいましょう。子どもがもし何かを提案したら、真剣に聞きましょう。</li>
          </ul>
        </section>

        <section id="Make-handwashing-and-hygiene-fun">
          <picture>
            <source srcset="./illustrations/03_03.webp" type="image/webp"/>
            <img src="./illustrations/03_03.jpg" alt="イラスト：手洗いの様子。手の隅々まで石鹸の泡が行き渡り、清潔になっていく。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>手洗い・消毒を楽しく</h3>
            <a href="#Make-handwashing-and-hygiene-fun" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <ul>
            <li>20秒間、手を洗いながら歌える歌を考えましょう。身体の動きもしっかり加えて！日々の手洗いができたら、たくさん褒めましょう。</li>
            <li>1日に顔に触れる数をどれだけ少なくできるか、ゲームにしてみましょう。お互いが顔に触れた数を数え合って、一番少なかった人にはご褒美をあげましょう。</li>
          </ul>
        </section>

        <section id="You-are-a-model-for-your-child’s-behavior">
          <picture>
            <source srcset="./illustrations/03_04.webp" type="image/webp"/>
            <img src="./illustrations/03_04.jpg" alt="イラスト：フフンと得意げな様子で決め顔をする母親と、すこし驚いた様子でそれを見つめる子ども。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>あなたは子どもの見本です</h3>
            <a href="#You-are-a-model-for-your-child’s-behavior" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>あなたが周りとの距離を保ち、手洗い・消毒をしっかり行って、周りにいる病気を持った人々や体が弱ってしまっている人達のことを気づかっていれば、子どもも自然とそれらを学びます。</p>
        </section>

        <div class="summary">
          <p>1日の終わりに、その日を振り返る時間を作りましょう。</p>
          <p>子どもの良かったことや、楽しかったことを伝えましょう。</p>
          <p>今日も頑張った自分をしっかりと褒めましょう！</p>
          <p>お疲れさまでした！</p>
        </div>
      </section>

      <section id="4-Bad-Behavior">
        <picture>
          <source srcset="./illustrations/04_00_yellow.webp" type="image/webp"/>
          <img src="./illustrations/04_00_yellow.jpg" alt="イラスト：子どもが腕を組み、いろいろなモヤモヤを抱えて浮かない表情をたたえている。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h2>4.『悪い行い』</h2>
          <a href="#4-Bad-Behavior" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>子どもは誰しも悪い行いをしてしまう日はあります。疲れていたり、お腹が空いていたり、怖がっていたり、親から自立していく中では良くあることです。ずっと家に閉じこもっているとそんな子ども達に頭を悩ませてしまうこともあります。</p>
      </section>

      <section id="Redirect">
        <picture>
          <source srcset="./illustrations/04_01.webp" type="image/webp"/>
          <img src="./illustrations/04_01.jpg" alt="イラスト：母親が、携帯ゲーム機を胸の前に掲げ、子どもに呼びかけている。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h3>方向転換させましょう</h3>
          <a href="#Redirect" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <ul>
          <li>子どもの悪い行いは早く見つけ、子どもの注意を悪い方向から良い方向へ方向転換させます。</li>
          <li>始まる前に止めること！ 始まる前に止めること！ 子どもが落ち着きなくなってきたら「ゲームしようか！」などと、楽しいことに興味を向けて気をそらします。</li>
        </ul>
      </section>

      <section id="Take-a-Pause">
        <picture>
          <source srcset="./illustrations/04_02.webp" type="image/webp"/>
          <img src="./illustrations/04_02.jpg" alt="イラスト：母親が、ふと真顔になり、すこし思い直している。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h3>一度止まって考えましょう</h3>
          <a href="#Take-a-Pause" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>叫びたい気持ちですか？</p>
        <p>それなら、10秒間止まって考えてみましょう。ゆっくり深呼吸を5回します。そして落ち着いて対応しましょう。</p>
        <p>多くの保護者たちは、これが効いたと言っています。</p>
      </section>

      <section id="Use-consequences">
        <picture>
          <source srcset="./illustrations/04_03.webp" type="image/webp"/>
          <img src="./illustrations/04_03.jpg" alt="イラスト：母親が子どもに対して重要なことを言い渡している。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h3>約束を破ると何が起きるかを子どもに伝えましょう</h3>
          <a href="#Use-consequences" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>子どもに自分のしたことの責任を自覚してもらうためには結果が大事になってきます。自制心を持つことにも役立ちます。叩いたり怒鳴ったりすることよりも効果的です。</p>
        <ul>
          <li>まずは子どもに、自分がとった行動の結果として何が起きるかを教える前に、あなたの指示に従うという選択を与えます。</li>
          <li>結果を与える時はなるべく落ち着いて行いましょう。</li>
          <li>親自身もその結果を貫き通せるかを考えましょう。例えば、思春期の子どもの携帯を一週間も取りあげるのは無理がありますが、一時間ならもう少し現実味があります。</li>
          <li>子どもがもたらしてしまった結果の期間が終わったら、子どもに挽回のチャンスをあげましょう。そしてそれをしっかりと褒めましょう。</li>
        </ul>
      </section>

      <section id="Keep-using-Tips-1-3">
        <picture>
          <source srcset="./illustrations/04_04.webp" type="image/webp"/>
          <img src="./illustrations/04_04.jpg" alt="イラスト：親子がカレンダーで予定を組む様子、親子とアクティビティのイメージ、親子が親指を立てて向き合う様子が、それぞれ矢印で繋がれて循環している。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h3>これらを繰り返しましょう</h3>
          <a href="#Keep-using-Tips-1-3" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <ul>
          <li>1対1の時間を持つこと、良い行いを褒めること、そして一貫した日課は、悪い行いを減らすことが出来ます。</li>
          <li>子どもに責任を持った役割を与えましょう。その際、子どもができる内容を与えるようにましょう。そしてやり遂げられたら、しっかり褒めましょう！ </li>
        </ul>
      </section>

      <section id="5-Keep-Calm-and-Manage-Stress">
        <picture>
          <source srcset="./illustrations/05_00_yellow.webp" type="image/webp"/>
          <img src="./illustrations/05_00_yellow.jpg" alt="イラスト：母親が目を閉じ、リラックスした様子で仰向けに横たわっている。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h2>5.『焦らずにストレスマネジメント』</h2>
          <a href="#5-Keep-Calm-and-Manage-Stress" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>今はとてもストレスが溜まりやすい時期です。子どものサポートができるように、まずは自分を大事にしましょう。</p>

        <section id="You-are-not-alone">
          <picture>
            <source srcset="./illustrations/05_01.webp" type="image/webp"/>
            <img src="./illustrations/05_01.jpg" alt="イラスト：微笑む夫に妻が話しかけている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>あなたは独りではありません</h3>
            <a href="#You-are-not-alone" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>世界中の人が私達と同じように恐怖を感じています。心の内を話せる相手を見つけましょう。しっかりと話を聞きましょう。パニックになってしまうようならSNSも避けましょう。</p>
        </section>

        <section id="Take-a-break">
          <picture>
            <source srcset="./illustrations/05_02.webp" type="image/webp"/>
            <img src="./illustrations/05_02.jpg" alt="イラスト：微笑む夫婦の周りに、絵の具のついた絵筆、湯気が立つコーヒーカップ、テレビモニター、開いた書籍、音楽の流れるヘッドホンといったアクティビティのイメージが並ぶ。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>休憩も取りましょう</h3>
            <a href="#Take-a-break" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>人は誰しも時には休憩が必要です。子どもが寝たら楽しいことやリラックスできることをしましょう。あなた自身が好きな、健康的なアクティビティをリストにしてみましょう。</p>
        </section>

        <section id="Listen-to-your-kids">
          <picture>
            <source srcset="./illustrations/05_03.webp" type="image/webp"/>
            <img src="./illustrations/05_03.jpg" alt="イラスト：子どもが両手を上げながら何かを伝えようとし、母親はそれに耳を傾けている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>子どもの話を聞きましょう</h3>
            <a href="#Listen-to-your-kids" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>子どもの話をしっかりと聞きましょう。子どもはあなたのサポートと安心を求めています。</p>
          <p>子どもが自分の気持ちをあなたに共有しようとしているときはしっかりと話を聞きましょう。子どもの考えを受け止め、励ましてあげましょう。</p>
        </section>

        <section id="Take-a-Break">
          <picture>
            <source srcset="./illustrations/05_04.webp" type="image/webp"/>
            <img src="./illustrations/05_04.jpg" alt="イラスト：母親が、目を閉じて足を組み、静かに笑みをたたえて瞑想している。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>ひと休みしましょう</h3>
            <a href="#Take-a-Break" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>ストレスが溜まっているときや心配になってしまった時にできる一分間のリラクゼーションアクティビティを紹介します。</p>

          <ol class="rest-steps">
            <li>
              <b>ステップ1：準備する</b>
              <ol>
                <li>座り心地の良い姿勢を見つけ、地面に足をしっかりとつけ、手を膝に乗せます。</li>
                <li>できれば、目も閉じましょう。</li>
              </ol>
            </li>
            <li>
              <b>ステップ2：思考・感情・身体</b>
              <ol>
                <li>自分は今何を考えているのか、自分に問いかけます。</li>
                <li>自分の考えがハッキリしたら、それがネガティブなものなのかポジティブなものなのかを考えましょう。</li>
                <li>今の気持ちに向き合いましょう。満ち足りていますか？それとも、そうではないですか？</li>
                <li>身体は今どんなことを感じていますか。痛みはあるか、強張っていないかを感じとってみます。 </li>
              </ol>
            </li>
            <li>
              <b>ステップ3：呼吸を意識する</b>
              <ol>
                <li>息を吸う時と吐く時の音に耳を澄まします。</li>
                <li>手をお腹に置き、呼吸とともに動くのを感じましょう。</li>
                <li>「大丈夫。何があっても私は大丈夫。」と唱えます。</li>
                <li>そしてしばらく自分の呼吸に耳を澄ましましょう。 </li>
              </ol>
            </li>
            <li>
              <b>ステップ4：元に戻る</b>
              <ol>
                <li>全身の感覚に集中します。</li>
                <li>部屋の中の音に耳を澄ましましょう。</li>
              </ol>
            </li>
            <li>
              <b>ステップ5：回想</b>
              <ol>
                <li>さっきまでと気持ちが違っているか、確認してみます。</li>
                <li>準備ができたら目を開けましょう。 </li>
              </ol>
            </li>
          </ol>
          <p>子どもの事でイライラしている時や、何か間違ったことをしてしまった時に、いったん休みをとるのは必要なことです。落ち着く機会を得られます。深呼吸をしたり、地面を感じたりするだけでも違ってくるでしょう。子どもと一緒にやるのもいいですね！</p>
        </section>
      </section>

      <section id="6-Talking-about-COVID-19">
        <picture>
          <source srcset="./illustrations/06_00_yellow.webp" type="image/webp"/>
          <img src="./illustrations/06_00_yellow.jpg" alt="イラスト：父親が、子どもの背中に手を沿えながら話しかけている。" loading="lazy"/>
        </picture>
        <header class="heading-anchor">
          <h2>6.『新型コロナウイルスについて話をする』</h2>
          <a href="#6-Talking-about-COVID-19" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>
        子どもとしっかり話せる環境を作りましょう。子どもはもう何か知っているかもしれません。沈黙や秘密ではなく、正直さと率直さが子どもを守ります。子どもはどのくらい理解できるのか考えてください。あなたが子どものことを一番分かっているのですから。
      </p>

        <section id="Be-open-and-listen">
          <picture>
            <source srcset="./illustrations/06_01.webp" type="image/webp"/>
            <img src="./illustrations/06_01.jpg" alt="イラスト：子どもが、母親の袖を掴みながらさまざまな問いについて尋ねている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>子どもが話しやすい環境を作り、しっかり聞きましょう</h3>
            <a href="#Be-open-and-listen" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>子どもが自由になんでも話せる環境を作りましょう。自由に答えられる質問（例えば、「はい／いいえ」ではなく、文章で返せる質問）をし、子どもが既にどのくらいの知識があるのかを知りましょう。</p>
        </section>

        <section id="Be-honest">
          <picture>
            <source srcset="./illustrations/06_02.webp" type="image/webp"/>
            <img src="./illustrations/06_02.jpg" alt="イラスト：向き合う子どもと母親。母親は人差し指を立てながら子どもに語りかけている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>正直に</h3>
            <a href="#Be-honest" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>いつでも正直に子どもの質問に答えましょう。子どもの年齢を踏まえて、どの程度理解できるのかを考えましょう。</p>
        </section>

        <section id="Be-supportive">
          <picture>
            <source srcset="./illustrations/06_03.webp" type="image/webp"/>
            <img src="./illustrations/06_03.jpg" alt="イラスト：子どもの背後に父親と母親がたち、共に子どもの肩に手を沿えてやっている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>支えになって</h3>
            <a href="#Be-supportive" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>あなたの子どもはもしかしたら怖がっていたり、混乱したりしているかもしれません。子どもが何を考えているのかを伝えられる環境を与え、あなたがいつでもそばにいるということを教えてあげましょう。</p>
        </section>

        <section id="It-is-OK-not-to-know-the-answers">
          <header class="heading-anchor">
            <h3>答えを知らなくても大丈夫</h3>
            <a href="#It-is-OK-not-to-know-the-answers" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>分からないことは「分からないけど、今それを理解しようとしているよ。」や、「分からないけど多分・・・」などと答えて大丈夫です｡子ども達と一緒に考える機会にしましょう！</p>
        </section>

        <section id="Heroes-not-bullies">
          <picture>
            <source srcset="./illustrations/06_04.webp" type="image/webp"/>
            <img src="./illustrations/06_04.jpg" alt="イラスト：父親と子どもが「ウイルスを撃退する女の子」をイメージしている。子どもはその女の子に期待を寄せている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>いじめっ子ではなくヒーローに</h3>
            <a href="#Heroes-not-bullies" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>新型コロナウイルスは皆の見た目、言語や国籍等とは関係がないということを説明しましょう。具合の悪い人達や看病している人達には思いやりを持つことを教えましょう。</p>
          <p>この新型コロナウイルスの流行を止めるために一生懸命働いている人達や病気の人々の面倒を診ている人達のストーリーを探してみましょう。</p>
        </section>

        <section id="There-are-a-lot-of-stories-going-around">
          <picture>
            <source srcset="./illustrations/06_05.webp" type="image/webp"/>
            <img src="./illustrations/06_05.jpg" alt="イラスト：スマートフォンから、◯や✕の吹き出しがいくつも出現している。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>たくさんのストーリーが出回っています</h3>
            <a href="#There-are-a-lot-of-stories-going-around" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>全てが本当の話とは限りません。信頼性の高いウェブサイトを使いましょう：</p>
          <p>
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" lang="en">Advice
            for publich</a>
          あるいは
          <a href="https://www.unicef.org/coronavirus/covid-19" lang="en">Page Coronavirus disease (COVID-19)</a>
          </p>
        これらは<abbr title="World Health Organization">WHO</abbr>とUNICEFによる内容です。
      </section>

        <section id="End-on-a-good-note">
          <picture>
            <source srcset="./illustrations/06_06.webp" type="image/webp"/>
            <img src="./illustrations/06_06.jpg" alt="イラスト：母親と子どもがともに笑顔でお互いを見つめている。" loading="lazy"/>
          </picture>
          <header class="heading-anchor">
            <h3>気分良く終わりましょう</h3>
            <a href="#End-on-a-good-note" class="heading-anchor__link">
              <span class="visually-hidden">このセクションへのリンク</span></a>
          </header>
          <p>子どもが大丈夫か確認しましょう。いつでもあなたは子どものことを大切に思っていて、いつでも話を聞くよ、と伝えてあげましょう。</p>
          <p>そしてその後は楽しいことを一緒に楽しめることをやりましょう！</p>
        </section>
      </section>
    </article>
    <aside id="Reference">
      <header class="heading-anchor">
        <h2>参考情報</h2>
        <a href="#Reference" class="heading-anchor__link">
          <span class="visually-hidden">このセクションへのリンク</span></a>
      </header>
      <p>子どものために家庭で出来ること等について参考になる情報が公開されています。<abbr title="World Health Organization">WHO</abbr>のポスターに記載されたウェブサイトと、日本小児科学会のページをご紹介します。</p>
      <ul>
        <li>
          <a href="http://www.jpeds.or.jp/modules/general/index.php?content_id=1">一般のみなさまへ（公益社団法人 日本小児科学会）</a>
        </li>
        <li>
          <a href="http://www.jpeds.or.jp/modules/general/index.php?content_id=28">普段と異なる状況下における子どもの安心・安全のために（公益社団法人 日本小児科学会）</a>
        </li>
        <li>
          <a href="http://www.jpeds.or.jp/modules/general/index.php?content_id=29">留守番をする子どもの安全をまもるためにできること（公益社団法人 日本小児科学会）</a>
        </li>
        <li>
          <a lang="en" href="https://covid19healthliteracyproject.com/#japanese">COVID-19 Health Literacy Project</a>
        <li>
          <a lang="en" href="https://www.unicef.org/coronavirus/covid-19-parenting-tips">Tips for parenting during the
          coronavirus (COVID-19) outbreak</a>
        </li>
        <li>
          <a lang="en" href="https://www.covid19parenting.com/">covid19parenting.com</a>
        </li>
        <li>
          <a lang="en" href="https://www.acceleratehub.org/plh-research-outputs">PLH Research Outputs</a>
        </li>
        <li>
          <a lang="en" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Advice
          for
          public</a>
        </li>
        <li>
          <a lang="en" href="https://www.unicef.org/coronavirus/covid-19">Coronavirus disease (COVID-19)</a>
        </li>
      </ul>
    </aside>
    <div>
      <section id="Original-source">
        <header class="heading-anchor">
          <h2>原典</h2>
          <a href="#Original-source" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>
          <a lang="en"
          href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting">
          Healthy Parenting (<abbr title="World Health Organization">WHO</abbr>)</a>
        </p>
      </section>
      <section id="Precautions">
        <header class="heading-anchor">
          <h2>注意事項</h2>
          <a href="#Precautions" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <ul>
          <li>本記事で紹介している内容は、あくまで参考情報です。実行することで必ずしも健康を保証できるものではありません。お子さんの様子を見て柔軟に対応してください。</li>
          <li>本記事について、疑義や誤りのご指摘などは、info@polaar.jp までお問い合せください。（個人での対応となりますので、すべてに対応できない可能性があります。あらかじめご了承ください）</li>
        </ul>
      </section>
      <section id="Analytics-and-cookie">
        <header class="heading-anchor">
          <h2>Google AnalyticsとCookieについて</h2>
          <a href="#Analytics-and-cookie" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>当サイトではコンテンツの維持運営のためGoogle Analyticsを利用しています。</p>
        <p>Google Analyticsは、当サイトが発行するCookieを利用して、アクセス状況、トラフィック、閲覧環境、およびIPアドレスなど個人の特定が可能なごく一部の情報を収集しています。</p>
        <p>Cookieの利用に関してはGoogleのプライバシーポリシーと規約に基づいています。</p>
        <p>取得したデータはWebサイト利用状況の分析、サイト運営者へのレポートの作成、その他のサービスの提供に関わる目的に限り、これを使用します。</p>
        <p>Google Analyticsの利用規約及びプライバシーポリシーに関する説明については、Google Analyticsのサイトをご覧ください。</p>
        <ul>
          <li><a href="https://marketingplatform.google.com/about/analytics/terms/jp/" rel="noopener" target="_blank">Google Analytics利用規約</a>
          <li><a href="https://policies.google.com/privacy?hl=ja" rel="noopener" target="_blank">Googleのプライバシーポリシー</a>
          <li><a href="https://support.google.com/analytics/answer/6004245?hl=ja" rel="noopener" target="_blank">Google Analyticsのデータの保護について</a>
        </ul>
      </section>
      <section id="Credit">
        <header class="heading-anchor">
          <h2>制作・翻訳</h2>
          <a href="#Credit" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <dl>
          <dt>翻訳・校正</dt>
          <dd>佐々木 優衣</dd>
          <dd>坂元 晴香</dd>
          <dd>堀内 清華</dd>
          <dd>関口 裕</dd>
          <dd>大橋 正司</dd>
          <dd>林 敬子</dd>
          <dt>翻訳協力</dt>
          <dd>園田 正樹</dd>
          <dd>園田 美奈</dd>
          <dt>イラストレーション</dt>
          <dd>原木 友寿那</dd>
          <dt>実装</dt>
          <dd>桝田 草一</dd>
          <dd>伊藤 由暁</dd>
          <dd>金森 悠</dd>
          <dt>アクセシビリティ監修</dt>
          <dd>伊原 力也</dd>
          <dt>制作ディレクション</dt>
          <dd>カワセ タケヒロ</dd>
        </dl>
      </section>
      <section id="Modified">
        <header class="heading-anchor">
          <h2>更新</h2>
          <a href="#Modified" class="heading-anchor__link">
            <span class="visually-hidden">このセクションへのリンク</span></a>
        </header>
        <p>
          <time datetime="{{ page.date | dateISOFormat }}">{{ page.date | dateFormat }}</time>
        </p>
      </section>
    </div>
  </body>

</html>
