@charset 'utf-8';

@import url(../../node_modules/normalize.css/normalize.css);

html {
  font-family: sans-serif;
  color: #232323;
  line-height: 1.6;
}

body {
  width: 90%;
  max-width: 40em;
  margin: 3em auto;
}

a {
  text-underline-position: under;
}

img {
  max-width: 100%;
}

section {
  margin-top: 5em;
}

section section {
  margin-top: 4em;
}

ol,
ul,
dl {
  margin-top: 1em;
}

li + li,
ol ol,
ul ul {
  margin-top: 0.5em;
}

dt:not(:first-of-type) {
  margin-top: 0.5em;
}

.summary {
  margin: 2em 0;
  font-weight: bold;
}

.rest-steps {
  padding-left: 0;
  list-style: none;
}

.rest-steps > li:not(:first-of-type) {
  margin-top: 2em;
}

.rest-steps > li > ol {
  margin-top: 1em;
}

.heading-anchor {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
}

h2:hover .heading-anchor,
h3:hover .heading-anchor {
  visibility: visible;
}
