@charset 'utf-8';

@import url(../../node_modules/normalize.css/normalize.css);

html {
  line-height: 1.5;
}

body {
  width: 90%;
  max-width: 40em;
  margin: 3em auto;
}

section {
  margin-top: 2em;
}

ol,
ul,
dl {
  margin-top: 2em;
}

li + li,
ol ol,
ul ul {
  margin-top: 0.5em;
}

.summary {
  margin: 2em 0;
  font-weight: bold;
}

.rest-steps {
  padding-left: 0;
  list-style: none;
}

.rest-steps > li:not(:first-of-type) {
  margin-top: 2em;
}

.rest-steps > li > ol {
  margin-top: 1em;
}
