---
date: Last Modified
---
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>今、子どもとどう付き合うか？WHOから全世界の保護者たちへ。</title>
    <link rel="stylesheet" href="/style.css"/>
    <!--
    <meta name="description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content=""/>
    <meta property="og:image:secure_url" content=""/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <link rel="canonical" href=""/>
    -->
  </head>

  <body>
    <main>
      <article>
        <h1>今、子どもとどう付き合うか？<abbr title="World Health Organization">WHO</abbr>から全世界の保護者たちへ。</h1>
        <details open="true">
          <summary>目次</summary>
          <ol>
            <li>
              <a href="#1-One-on-One-Time">１対１の時間</a>
            </li>
            <li>
              <a href="#2-Keeping-It-Positive">肯定的でいましょう</a>
            </li>
            <li>
              <a href="#3-Structure-Up">新しい日課を作る</a>
            </li>
            <li>
              <a href="#4-Bad-Behavior">悪い行い</a>
            </li>
            <li>
              <a href="#Keep-Calm-and-Manage-Stress">焦らずにストレスマネジメント</a>
            </li>
            <li>
              <a href="#Talking-about-COVID-19">新型コロナウイルスについて話をする</a>
            </li>
          </ol>
        </details>
        <section id="1-One-on-One-Time">
          <h2>1. １対１の時間</h2>
          <p>仕事にいけない、学校が閉まる、お金はどうなるのか…など、ストレスを感じたり困惑したりするのは普通のことです。あなただけではありません。</p>
          <p>休校で子どもが家で過ごす時間が増えることは、子どもたちとより関係を深める絶好の機会でもあります。<br/>
          子どもと１対１の時間を取ることは楽しいことでもあり、そしてお金もかかりません。子どもと向き合う時間を作ることで、子どもたちは愛情を感じ、安心し、自分自身を大切な存在だと感じることができます。</p>

          <section id="Set-aside-time-to-spend-with-each-child">
            <h3>それぞれの子どもと過ごせる時間を作りましょう</h3>
            <p>たったの２０分でも良いですし、もっと長くても良いです。あなたができそうだと思う時間帯に子どもと過ごす時間をとってください。子どもが予想できるように、毎日同じ時間帯に予告しておいても良いですね。</p>
          </section>

          <section id="Ask-your-child-what-they-would-like-to-do">
            <h3>子どもに、何がしたいか聞きましょう</h3>
            <p>
            選ぶというのは自分に自信をつけることにも繋がります。もし子どものやりたい事が他人との距離が近いものだった場合は、なぜ感染症対策において距離を保つ必要があるのか話し合う機会につなげましょう。（詳細はポスター２をご覧下さい）
          </p>
          </section>

          <section id="Ideas-with-your-baby-toddler">
            <h3>赤ちゃんや３歳くらいまでの子どもとの過ごし方</h3>
            <ul>
              <li>子どもの表情や音を真似してみましょう。</li>
              <li>歌を歌い、スプーンや鍋で音楽を奏でましょう。</li>
              <li>コップやブロックなどを積み重ねましょう。</li>
              <li>ストーリーや本を読んだり、写真を見せたりしましょう。</li>
            </ul>
          </section>

          <section id="Ideas-with-your-young-child">
            <h3>小さい子どもとの過ごし方</h3>
            <ul>
              <li>一緒に本を読んだり、写真を見たりしましょう。</li>
              <li>クレヨンなどで一緒に絵をかきましょう</li>
              <li>音楽に合わせて踊ったり、歌を歌ったりしましょう。</li>
              <li>家事を一緒にしましょう。掃除や料理をゲームにしてみましょう。</li>
              <li>学校の宿題を手伝ってみましょう。</li>
            </ul>
          </section>

          <section id="Ideas-with-your-teenager">
            <h3>思春期の子どもとの過ごし方</h3>
            <ul>
              <li>子どもが好きな話題を話してみましょう。例えばスポーツ、音楽、有名人、友達の事などでも良いです。</li>
              <li>一緒に好きな料理を作ってみましょう</li>
              <li>子どもの好きな音楽に合わせて一緒に運動してみましょう。</li>
            </ul>
          </section>

          <div class="summary">
            <p>一緒に時間を過ごす間は、テレビや携帯の電源を切り、ウイルスのことを忘れる時間を作りましょう。</p>
            <p>子どもたちによく耳を傾け、子どもたちをよく観ましょう。たくさんの気がかりなことがありますが、大人もそれらを一時でも忘れ、子どもたちに関心を集中する時間を作ってみてください。そして楽しく過ごしましょう！</p>
          </div>
        </section>

        <section id="2-Keeping-It-Positive">
          <h2>2.肯定的でいましょう</h2>
          <p>
          子どもがあなたを困らせるようなことをする時、子どもに対して肯定的でいるのは難しいものです。つい「やめなさい！」と言ってしまいがちです。ですが、子どもは、肯定的な指示をあげたり、うまくできた時に褒めてあげたりするほうが、親を困らせるような態度は取らなくなっていきます。
        </p>

          <section id="Say-the-behaviour-you-want-to-see">
            <h3>あなたが子どもにしてほしい行動を言葉にしましょう。</h3>
            <p>子どもに指示する時は否定ではなく、肯定的な言葉を使いましょう。例えば、「散らかさないで！」ではなく、「服はちゃんとしまってほしいな」と言いましょう。</p>
          </section>

          <section id="It’s-all-in-the-delivery">
            <h3>すべては伝え方次第です</h3>
            <p>声を荒げることで、あなたも子どもも、よりストレスを感じ、イライラしてしまいます。まず名前を呼んでみて、あなたの方に集中させることを試してみましょう。そして、落ち着いた口調で話しましょう。</p>
          </section>

          <section id="Praise-your-child-when-they-are-behaving-well">
            <h3>子どもが良い行動をした時は褒めましょう</h3>
            <p>子どもが良いことをした時は、しっかりと褒めましょう。子どもは顔には出さないかもしれませんが、褒められたことを、そのうち自ら進んでやるようになります。
            あなたがしっかり見ていて気にかけてくれている、というのも子どもが安心できるポイントになります。</p>
          </section>

          <section id="Get-real">
            <h3>現実的な目標を</h3>
            <p>あなたが子どもにお願いしていることは、本当に子どもにできる事ですか？
            「子どもが屋内で一日中静かにしていること」はとても難しいのです。でも、あなたが電話している間の１５分だけなら静かにできるかもしれません。</p>
          </section>

          <section id="Help-your-teen-stay-connected">
            <h3>思春期の子どもには交流を</h3>
            <p>思春期の子どもにとって友達との交流は欠かせないものです。</p>
            <p>SNSを使って友達と交流をする等、物理的な距離を置いてできる交流活動を探してあげましょう。
            あなたも一緒にできるかもしれません！</p>
          </section>
        </section>

        <section id="3-Structure-Up">
          <h2>3. 新しい日課を作る</h2>
          <p>新型コロナウイルスによって、仕事、家庭、学校での日常が奪われてしまいました。これは子どもにもあなたにもとても厳しい現実です。新しく、家での日課を作ってみてはいかがでしょうか。</p>

          <section id="Create-a-flexible-but-consistent-daily-routine">
            <h3> 柔軟に、でも一貫した日課を作りましょう</h3>
            <ul>
              <li>あなた自身と子どもの為の、日課をこなす時間と自由に過ごす時間をしっかりときめましょう。こうすることによって子どもはより安心し、より良い行動をするようになります。</li>
              <li>小学生や十代の子どもは、一緒に日課を考えることができます。学校の時間割の様にしても良いですね。一緒に作ることによって子どもも時間を守りやすくなるでしょう。</li>
              <li>毎日運動の時間も作りましょう。ストレスや、家であり余った子どものエネルギーを発散できます。 </li>
            </ul>
          </section>

          <section id="Teach-your-child-about-keeping-safe-distances">
            <h3>周りとの距離を保つことを教えましょう</h3>
            <ul>
              <li>もしあなたの地域で外出が許可されていれば、子どもを外に出してあげましょう。</li>
              <li>手紙を書いたり、お絵かきをしたりするなどして、他の人達とシェアするのも良いですね。家の外に貼るなどして他の人達にも見せてあげましょう！</li>
              <li>あなたがどのように子どもの安全を保っているのかを話すことで、子どもに安心してもらいましょう。子どもがもし何かを提案したら、真剣に聞きましょう。</li>
            </ul>
          </section>

          <section id="Make-handwashing-and-hygiene-fun">
            <h3>手洗い・消毒を楽しく</h3>
            <ul>
              <li>20秒間、手を洗いながら歌える歌を考えましょう。身体の動きもしっかり加えて！ 日々の手洗いができたら、たくさん褒めましょう。</li>
              <li>１日に顔に触れる数をどれだけ少なくできるか、ゲームにしてみましょう。お互いが顔に触れた数を数え合って、一番少なかった人にはご褒美をあげましょう。</li>
            </ul>
          </section>

          <section id="You-are-a-model-for-your-child’s-behavior">
            <h3>あなたは子どもの見本です</h3>
            <p>あなたが周りとの距離を保ち、手洗い・消毒をしっかり行って、周りにいる病気を持った人々や体が弱ってしまっている人達のことを気づかっていれば、子どもも自然とそれらを学びます。</p>
          </section>

          <div class="summary">
            <p>１日の終わりに、その日を振り返る時間を作りましょう。
            子どもの良かったことや、楽しかったことを伝えましょう。
            今日も頑張った自分をしっかりと褒めましょう！
            お疲れさまでした！
          </p>
          </div>
        </section>

        <section id="4-Bad-Behavior">
          <h2>4. 悪い行い</h2>
          <p>子どもは誰しも悪い行いをしてしまう日はあります。疲れていたり、お腹が空いていたり、怖がっていたり、親から自立していく中では良くあることです。ずっと家に閉じこもっているとそんな子ども達に頭を悩ませてしまうこともあります。
        </p>
        </section>

        <section id="Redirect">
          <h3>方向転換させましょう</h3>
          <ul>
            <li>子どもの悪い行いは早く見つけ、子どもの注意を悪い方向から良い方向へ方向転換させます。</li>
            <li>始まる前に止めること！ 子どもが落ち着きなくなってきたら「ゲームしようか！」等と、楽しいことに興味を向けて気をそらします。</li>
          </ul>
        </section>

        <section id="Take-a-Pause">
          <h3>一度止まって考えましょう</h3>
          <p>叫びたい気持ちですか？</p>
          <p>それなら、10秒間止まって考えてみましょう。ゆっくり深呼吸を５回します。そして静かに対応しましょう。</p>
          <p>多くの保護者たちは、これが効いたと言っています。</p>
        </section>

        <section id="Use-consequences">
          <h3>約束を破ると何が起きるかを子どもに伝えましょう</h3>
          <p>子どもに自分のしたことの責任を自覚してもらうためには結果が大事になってきます。自制心を持つことにも役立ちます。叩いたり怒鳴ったりすることよりも効果的です。</p>
          <ul>
            <li>まずは子どもに、自分がとった行動の結果何が起きるかを教える前に、あなたの指示に従うという選択を与えます。</li>
            <li>結果を与える時はなるべく落ち着いて行いましょう。</li>
            <li>親自身もその結果を貫き通せるかを考えましょう。例えば、思春期の子どもの携帯を一週間も取りあげるのは無理がありますが、一時間ならもう少し現実味があります。</li>
            <li>子どもがもたらしてしまった結果の期間が終わったら、子どもに良い事をするチャンスを与えましょう。そしてそれをしっかりと褒めましょう。</li>
          </ul>
        </section>

        <section id="Keep-using-Tips-1-3">
          <h3>これらを繰り返しましょう</h3>
          <ul>
            <li>１対１の時間を持つこと、良い行いを褒めること、そして一貫した日課は悪い行いを減らすことが出来ます。</li>
            <li>子どもに責任を持った役割を与えましょう。その際、子どもができる内容を与えるようにましょう。そして出来たらしっかり褒めましょう！ </li>
          </ul>
        </section>

        <section id="Keep-Calm-and-Manage-Stress">
          <h2>5. 焦らずにストレスマネジメント</h2>
          <p>今はとてもストレスが溜まりやすい時期です。子どものサポートができるように、まずは自分を大事にしましょう。</p>

          <section id="You-are-not-alone">
            <h3>あなたは独りではありません</h3>
            <p>世界中の人が私達と同じように恐怖を感じています。心の内を話せる相手を見つけましょう。しっかりと話を聞きましょう。パニックになってしまうようならSNSも避けましょう。</p>
          </section>

          <section id="Take-a-break">
            <h3>休憩も取りましょう</h3>
            <p>人は誰しも時には休憩が必要です。子どもが寝たら楽しいことやリラックスできることをしましょう。あなた自身が好きな、健康的なアクティビティをリストにしてみましょう。</p>
          </section>

          <section id="Listen-to-your-kids">
            <h3>子どもの話を聞きましょう</h3>
            <p>子どもの話をしっかりと聞きましょう。子どもはあなたのサポートと安心を求めています。</p>
            <p>子どもが自分の気持ちをあなたに共有しようとしているときはしっかりと話を聞きましょう。子どもの考えを受け止め、励ましてあげましょう。</p>
          </section>

          <section id="Take-a-Break">
            <h3>いったん休みましょう</h3>
            <p>ストレスが溜まっているときや心配になってしまった時にできる一分間のリラクゼーションアクティビティを紹介します。</p>

            <ol class="rest-steps">
              <li>
                <b>ステップ１：準備する</b>
                <ol>
                  <li>座り心地の良い姿勢を見つけ、地面に足をしっかりとつけ、手を膝に乗せます。</li>
                  <li>もし出来れば、目も閉じましょう。</li>
                </ol>
              </li>
              <li>
                <b>ステップ２：考え、感じる、身体</b>
                <ol>
                  <li>自分は今何を考えているのか、自分に問いかけます。</li>
                  <li>自分の考えに気付いたら、それがネガティブなものなのかポジティブなものなのかを考えましょう。</li>
                  <li>今の感情はどの様なものなのか。嬉しい気分なのか、そうでないのか？</li>
                  <li>身体が今どんなことを感じているのか、痛みはあるか、強張っていないかを感じとってみます。 </li>
                </ol>
              </li>
              <li>
                <b>ステップ３：呼吸を意識する</b>
                <ol>
                  <li>息を吸う時と吐く時の音に耳を澄まします。</li>
                  <li>手をお腹に置き、呼吸と共に動くのを感じましょう。</li>
                  <li>「大丈夫。何があっても私は大丈夫。」と唱えます。</li>
                  <li>そしてしばらく自分の呼吸に耳を澄ましましょう。 </li>
                </ol>
              </li>
              <li>
                <b>ステップ４：元に戻る</b>
                <ol>
                  <li>全身の感覚に集中します。</li>
                  <li>部屋の中の音に耳を澄ましましょう。</li>
                </ol>
              </li>
              <li>
                <b>ステップ５：回想</b>
                <ol>
                  <li>先程までと気持ちが違うか、確認してみます。</li>
                  <li>準備ができたら目を開けましょう。 </li>
                </ol>
              </li>
            </ol>
            <p>
            子どもの事でイライラしている時や、何か間違ったことをしてしまった時に一旦休みをとる事は必要なことです。落ち着く機会を得られます。深呼吸をしたり、地面を感じたりするだけでも違いは見えるでしょう。子どもと一緒にやるのもいいですね！
          </p>
          </section>
        </section>

        <section id="Talking-about-COVID-19">
          <h2>6. 新型コロナウイルスについて話をする</h2>
          <p>
          子どもとしっかり話せる環境を作りましょう。子どもはもう何か知っているかもしれません。沈黙や秘密ではなく、正直さと率直さが子どもを守ります。子どもはどのくらい理解できるのか考えてください。あなたが子どものことを一番分かっているのですから。
        </p>

          <section id="Be-open-and-listen">
            <h3>子どもが話しやすい環境を作り、しっかり聞きましょう</h3>
            <p>子どもが自由に何でも話せる環境を作りましょう。自由型質問（うん、ううんではなく、文章で返せる質問）をし、子どもが既にどのくらいの知識があるのかを知りましょう。</p>
          </section>

          <section id="Be-honest">
            <h3>正直に</h3>
            <p>いつでも正直に子どもの質問に答えましょう。子どもの年齢を踏まえて、どの程度理解できるのかを考えましょう。</p>
          </section>

          <section id="Be-supportive">
            <h3>支えになって</h3>
            <p>あなたの子どもはもしかしたら怖がっていたり、混乱したりしているかもしれません。子どもが何を考えているのかを伝えられる環境を与え、あなた達大人がいつでもそばにいると言うことを教えてあげましょう。</p>
          </section>

          <section id="It-is-OK-not-to-know-the-answers">
            <h3>答えを知らなくても大丈夫</h3>
            <p>分からない事は「分からないけど、今それを理解しようとしているよ。」や、「分からないけど多分・・・」などと答えて大丈夫です｡子ども達と一緒に考える機会にしましょう！</p>
          </section>

          <section id="Heroes-not-bullies">
            <h3>いじめっ子ではなくヒーローに</h3>
            <p>
            新型コロナウイルスは皆の見た目、言語や国籍等とは関係がないということを説明しましょう。具合の悪い人達や看病している人達には思いやりを持つ、ということを教えましょう。この新型コロナウイルスの流行を止める為に一生懸命働いている人達や病気の人々の面倒を診ている人達のストーリーを探してみましょう。
          </p>
          </section>

          <section id="There-are-a-lot-of-stories-going-around">
            <h3>たくさんのストーリーが出回っています</h3>
            <p>全てが本当の話とは限りません。信頼性の高いウェブサイトを使いましょう：</p>
            <p>
              <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
              lang="en">Advice for publich</a>
            或いは
            <a href="https://www.unicef.org/coronavirus/covid-19" lang="en">Page Coronavirus disease (COVID-19)</a>
            </p>
          これらは<abbr title="World Health Organization">WHO</abbr>とUNICEFによる内容です。
        </section>

          <section id="End-on-a-good-note">
            <h3>気分良く終わりましょう</h3>
            <p>子どもが大丈夫か確認しましょう。いつでもあなたは子どものことを大切に思っていて、いつでも話を聞くよ、と教えてあげましょう。
            そしてその後は楽しいことを一緒にしましょう！</p>
          </section>
        </section>
      </article>
      <aside id="Reference">
        <h2>参考情報</h2>
        <p>子どものために家庭で出来ること等について参考になる情報が公開されています。<abbr title="World Health Organization">WHO</abbr>のポスターに記載されたウェブサイトをご紹介します。</p>
        <ul>
          <li>
            <a lang="en" href="https://www.unicef.org/coronavirus/covid-19-parenting-tips">Tips for parenting during the
            coronavirus (COVID-19) outbreak</a>
          </li>
          <li>
            <a lang="en" href="https://www.covid19parenting.com/">covid19parenting.com</a>
          </li>
          <li>
            <a lang="en" href="https://www.acceleratehub.org/plh-research-outputs">PLH Research Outputs</a>
          </li>
          <li>
            <a lang="en" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Advice
            for
            public</a>
          </li>
          <li>
            <a lang="en" href="https://www.unicef.org/coronavirus/covid-19">Coronavirus disease (COVID-19)</a>
          </li>
        </ul>
      </aside>
      <footer>
        <section id="Original-source">
          <h2>原典</h2>
          <p>
            <a lang="en"
            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting">
            Healthy Parenting (<abbr title="World Health Organization">WHO</abbr>)</a>
          </p>
        </section>
        <section id="Precautions">
          <h2>注意事項</h2>
          <ul>
            <li>本記事で紹介している内容は、あくまで参考情報です。実行することで必ずしも健康を保証できるものではありません。お子さんの様子を見て柔軟に対応してください。</li>
            <li>本記事について、疑義の紹介や誤りのご指摘などは、info@polaar.jp までお問い合せください。（個人での対応となりますので、すべてに対応できない可能性があります。あらかじめご了承ください）</li>
          </ul>
        </section>
        <section id="Credit">
          <h2>制作・翻訳</h2>
          <dl>
            <dt>翻訳・校正</dt>
            <dd>佐々木 優衣</dd>
            <dd>坂元 晴香</dd>
            <dd>堀内 清華</dd>
            <dd>関口 裕</dd>
            <dt>イラストレーション</dt>
            <dd>原木 友寿那</dd>
            <dt>制作ディレクション</dt>
            <dd>カワセ タケヒロ</dd>
          </dl>
        </section>
        <section id="Modified">
          <h2>更新</h2>
          <p>
            <time datetime="{{ page.date | dateISOFormat }}">{{ page.date | dateFormat }}</time>
          </p>
        </section>
      </footer>
    </main>
  </body>

</html>
